[Unit]
Description=Prometheus Alertmanager
After=network.target

[Service]
WorkingDirectory={{ prometheus_alertmanager_db_path }}
ExecStart={{ prometheus_alertmanager_daemon_dir }}/alertmanager \
    -config.file={{ prometheus_config_path }}/alertmanager.yml \
    {{ prometheus_alertmanager_opts | default() }}
KillMode=process
User={{ prometheus_user }}
Group={{ prometheus_group }}
Restart=on-failure

[Install]
WantedBy=multi-user.target

